@model CaimanProject.VM.OldVm
<main class="main-content">
    <div class="block">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="departmentDesc">
                        <h1>Anciens membres</h1>
                    </div>
                </div>
                <div class="col-12">
                    <ul class="dmembers-list">
                        @foreach (var OneMember in Model.OldMembers)
                        {
                            <li>
                                <a href="@Url.Action("ProfilMember", "Home", new { id=OneMember.MemberId})">
                                    <div class="member-line position-relative">
                                        <div class="photo-box br-frontend">
                                            <img src="img/user.png" alt="username">
                                        </div>
                                        <div class="member-line__info">
                                            <h4>@OneMember.MemberImageName</h4>
                                            <div class="d-flex align-items-center">
                                                <span>Archivé le @OneMember.MemberDateArchive.ToString("dd MMM yyyy") -</span>&nbsp;
                                                @for (int i = 0; i < OneMember.MemberNote; i++)
                                                {
                                                <div class="round"></div>
                                                }
                                            </div>
                                        </div>
                                        <div class="restore">
                                            <span>Profil</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
            <div class="row mt-5 mb-5">
                <div class="col-12 text-center">
                    <ul class="pagination">
                        <li>
                            <div>
                                <img src="icons/arrowb.svg" class="rotate" alt="arrow">
                            </div>
                        </li>
                        <li>
                            <h4>2 sur 344</h4>
                        </li>
                        <li>
                            <div>
                                <img src="icons/arrowb.svg" alt="arrow">
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>